@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --grid-size: 3;
    --grid-square-size: 150px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
}

.gameboard {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: repeat(var(--grid-size), var(--grid-square-size));
    grid-template-rows: repeat(var(--grid-size), var(--grid-square-size));
    gap: 5px;
}

.gameboard-square {
    border: solid;
    display: grid;
    align-items: center;
    justify-content: center;
}

.x {
    width: 60px;
    height: 60px;
    position: relative;
}
.x:after {
    content: '';
    height: 60px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.x:before {
    content: '';
    height: 60px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}

.o{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top:0;
    left:0;
    pointer-events:none;
  }